.dice button {
  display: inline-block;
  background: #fff;
  border: 1px solid #000;
  border-radius: 6px;
  height: 50px;
  line-height: 50px;
  width: 50px;
  margin: 10px 2px;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: relative;
  font-size: 40px;
  text-overflow: clip;
  white-space: nowrap;
  box-shadow: 0 4px 32px rgba(0,0,0,.4), inset 0 1px 8px rgba(0,0,0,.3);

  /* rolling */
  transition: text-indent .5s ease-out;
}

.dice button.selected {
  background: #eeb;
}

.dice button span {
  display: inline-block;
  line-height: 48px;
  height: 48px;
  width: 48px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-indent: 0;
}
